<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-lg-4 col-md-6 col-sm-12">
            <ul class="nav nav-pills ">
                <li class="nav-item">
                    <a (click)="showAll()" [ngClass]="{'active': toggle}" class="nav-link rounded-pill pillContact"
                        aria-current="page" href="#">Contacts</a>
                </li>
                <li class="nav-item">
                    <a (click)="showFavorites()" [ngClass]="{'active': toggle2}"
                        class="nav-link rounded-pill pillFavorite" href="#">Favorites</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 hide">
            <div class="dropdown text-center">

                <select [(ngModel)]="selectedCity" class="btn dropdown-btn rounded-pill dropdown-toggle" type="button"
                    id="dropdownMenuButton">
                    <option value="" selected disabled hidden>City</option>
                    <option value="">Show all</option>
                    <option *ngFor="let row of contactData" value="{{row.city}}">{{row.city}}</option>
                </select>

                <select [(ngModel)]="selectedPositione" class="btn dropdown-btn rounded-pill dropdown-toggle"
                    type="button" id="dropdownMenuButton">
                    <option value="" selected disabled hidden>Position</option>
                    <option value="">Show all</option>
                    <option *ngFor="let row of contactData" value="{{row.position}}">{{row.position}}</option>
                </select>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 text-right mobile-margin">
            <div class="input-group">
                <input [(ngModel)]="searchTerm" class="form-control border-end-0 border rounded-pill" type="search"
                    placeholder="Search..." id="example-search-input">
                <span class="input-group-append">
                    <button class="btn bg-transparent rounded-pill ms-n5" type="button">
                        <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
                    </button>
                </span>
                <button (click)="clickAddContact()" class="btn add-contact-button rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#addContactModal"><fa-icon [icon]="['fas', 'plus']"></fa-icon> Contact</button>
            </div>
        </div>
    </div>

    <table class="table">
        <!-- <div *ngIf="(contactData | filter:searchTerm)?.length <= 0" class="col-12 col-sm-12 col-md-12 text-center m-5">
            <p>Sorry, no users found under<b>{{searchTerm}}</b>,please try another</p>
          </div> -->
        <thead>
            <tr id="table-headings">
                <th class="col-lg-3 col-md-1" (click)="sortData('name')">Name
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-2 col-md-2" (click)="sortData('position')">Position
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-1 col-md-1" (click)="sortData('city')">City
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-2 col-md-3" (click)="sortData('email')">Email
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-2 col-md-3" (click)="sortData('phone')">Phone
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-1 col-md-2" (click)="sortData('phone2')">Phone 2
                    <fa-icon *ngIf="sortDirection === 'ascending'" [icon]="['fas', 'sort-asc']"></fa-icon>
                    <fa-icon *ngIf="sortDirection === 'descending'" [icon]="['fas', 'sort-desc']"></fa-icon>
                </th>
                <th class="col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of contactData | filter:searchTerm | filter:selectedCity | filter: selectedPositione"
                class="table-row shadow-sm">
                <td class="d-none">{{ row.id }}</td>
                <td class="col-lg-3 col-md-1 text-dark">
                    <div class="contact-icon"> <img [src]="row.img" alt="">
                        <fa-icon *ngIf="row.favorite" [icon]="['fas', 'heart']"></fa-icon><b>{{ row.name ? row.name :
                            '---' }}</b>
                    </div>
                </td>
                <td class="col-lg-2 col-md-2">{{ row.position ? row.position : '---'}}</td>
                <td class="col-lg-1 col-md-1">{{ row.city ? row.city : '---' }}</td>
                <td class="col-lg-2 col-md-3">{{ row.email ? row.email : '---'}}</td>
                <td class="col-lg-2 col-md-3">{{row.countryCode}} {{ row.phone ? row.phone : '---' }}</td>
                <td class="col-lg-1 col-md-1"> ({{ row.additionalPhones ? row.additionalPhones.length : '---'}})</td>
                <td class="col-lg-1 col-md-1">
                    <button type="button" class="btn btn-sm" placement="bottom" [mdbPopover]="template" trigger="click">
                        <fa-icon [icon]="['fas', 'ellipsis-vertical']"></fa-icon>
                    </button>
                    <ng-template #template>
                        <div style="display: flex; flex-direction: column;">
                            <!-- Button which shows only on mobile view since I removed some rows -->
                            <button (click)="onView(row)" id="mobile-only" class="btn btn-sm" data-bs-toggle="modal"
                                data-bs-target="#addContactModal"><fa-icon
                                    [icon]="['fas', 'eye']"></fa-icon>Details</button>

                            <button (click)="onEdit(row)" class="btn btn-sm" data-bs-toggle="modal"
                                data-bs-target="#addContactModal"><fa-icon
                                    [icon]="['fas', 'gear']"></fa-icon>Edit</button>
                            <button data-bs-toggle="modal" data-bs-target="#deleteModal"
                                (click)="beforeDeleteConfirmation(row)" class="btn btn-sm"><fa-icon
                                    [icon]="['fas', 'trash']"></fa-icon>Delete</button>
                            <!-- Button switch functionality when added or removed from favorites -->
                            <button class="btn btn-sm" (click)="addToFavorite(row)" *ngIf="!row.favorite"><fa-icon
                                    [icon]="['far', 'heart']"></fa-icon>Favorites</button>
                            <button class="btn btn-sm" (click)="removeFavorite(row)" *ngIf="row.favorite"><fa-icon
                                    [icon]="['fas', 'heart']"></fa-icon>Unfavorite</button>
                        </div>
                    </ng-template>

                </td>
            </tr>
        </tbody>
    </table>


    <div class="modal fade" id="addContactModal" tabindex="-1" aria-labelledby="addContactModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addContactModalLabel">{{ this.formValue.value.name }} Information</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label mb-2">Contact Photo</label>
                            <div class="col-6 mb-3">
                                <img [src]="url || '../assets/add-img.png'" alt="Click here to add photo"
                                    (click)="imageInput.click()">
                                <input class="d-none" formControlName="img" type="file"
                                    (change)="selectFile(imageInput.files)" #imageInput />
                            </div>
                            <label for="recipient-name" class="col-form-label mb-2">Contact Information</label>
                            <div class=" col-6">
                                <input type="text" formControlName="name" class="form-control" id="contact-name"
                                    placeholder="Name">
                                <input type="email" formControlName="email" class="form-control" id="contact-email"
                                    placeholder="Email">
                            </div>
                            <div class="col-6 pl">
                                <input type="text" formControlName="city" class="form-control" id="contact-city"
                                    placeholder="City">
                                <select formControlName="position" class="form-select " id="contact-position"
                                    #selectOption (click)="selectedPosition('selectedPosition1', selectOption.value)">
                                    <option value="Developer">Developer</option>
                                    <option value="Front End Developer">Front End Developer</option>
                                    <option value="Graphic Designer">Graphic Designer</option>
                                    <option value="Marketing">Marketing</option>
                                    <option value="Product Manager">Product Manager</option>
                                    <option value="Sales Manager">Sales Manager</option>
                                    <option value="UX Designer">UX Designer</option>
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <label for="message-text" class="col-form-label mb-2">Phone</label>
                                <div class="input-group">
                                    <select formControlName="countryCode" class="custom-select custom-select-arrow"
                                        id="phone-code" #selectOption
                                        (click)="selectedCode('countryCode1', selectOption.value)">
                                        <option value="+49">+49</option>
                                        <option value="+385">+385</option>
                                    </select>
                                    <input type="text" formControlName="phone" class="form-control" id="contact-phone"
                                        placeholder="Phone">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 large-scrn-padding-0">
                                <label for="message-text" class="col-form-label mb-2">Phone 2</label>
                                <div class="input-group">
                                    <select formControlName="countryCode2" class="custom-select custom-select-arrow"
                                        id="phone-code">
                                        <option value="+49">+49</option>
                                        <option value="+385">+385</option>
                                    </select>
                                    <input type="text" formControlName="phone2" class="form-control" id="contact-phone2"
                                        placeholder="Phone#2">
                                </div>
                            </div>
                            <div formArrayName="phones">
                                <div class="col-lg-12 col-md-12 col-sm-12 large-scrn-padding-0"
                                    *ngFor="let phone of phones.controls; let i=index">
                                    <div class="input-group">
                                        <select class="custom-select custom-select-arrow" id="phone-code">
                                            <option value="+49">+49</option>
                                            <option value="+385">+385</option>
                                        </select>
                                        <input type="text" class="form-control" id="contact-phone3"
                                            placeholder="New Phone Number">
                                        <button class="btn rounded-0 add-phone-btn" (click)="removePhones(i)"><fa-icon
                                                [icon]="['fas', 'minus']"></fa-icon></button>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 large-scrn-padding-0">
                                <button (click)="addPhones()" class="btn rounded-0 add-phone-btn"><fa-icon
                                        [icon]="['fas', 'plus']"></fa-icon></button>
                                <label for="message-text" class="col-form-label add-phone mb-2">Add additional
                                    phone</label>
                            </div>
                            <!-- <div>{{phones.valueChanges | async | json}}</div> -->
                        </div>
                    </form>
                </div>
                <div class="modale-footer">
                    <div class="float-left">
                        <div class="form-check form-switch rounded-pill">
                            <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="favoriteCheceked"
                                id="flexSwitchCheckDefault">
                            <label class="green form-check-label" for="flexSwitchCheckDefault">{{favoriteCheceked ?
                                "Added to favorites" : "Add to favorites"}}</label>
                        </div>
                    </div>
                    <div class="float-right">
                        <button type="button" *ngIf="showDelete" id="cancel"
                            class="btn modal-cancel-button rounded-pill" data-bs-dismiss="modal">Delete</button>
                        <button type="button" *ngIf="showAdd" (click)="postContactDetails()"
                            class="btn modal-add-button rounded-pill">Add Contact</button>
                        <button type="button" *ngIf="showUpdate" (click)="updateContact()"
                            class="btn modal-add-button rounded-pill">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade">
        <div class="modal-dialog modal-confirm modal-dialog-centered">

            <div class="modal-content">
                <button type="button" class="btn-close closer" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-header d-block">
                    <div class="icon-box">
                        <i class="material-icons">&#xE5CD;</i>
                    </div>
                    <h4 class="modal-title mt-5">Delete contact</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <b>{{ contactName }}</b> contact ? It
                        will be deleted
                        forever.</p>
                </div>
                <div class="modale-footer">
                    <button (click)="deleteContact()" type="button" class="btn btn-delete rounded-pill"
                        data-bs-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>